/*=============== BASE STYLES ===============*/
html {
  height: 100%;
  background-color: #FFC900;
}
body {
  height: 100%;
  font-size: .625%; /* 1rem = 10px */
  background: linear-gradient(#FFC900, #FFEC00);
  margin-top: 50px;
}
* {
  box-sizing: border-box;
}


/*=============== TYPOGRAPHY ===============*/
h1 {
  color: #FFFFFF;
  font-size: 2.6rem;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  line-height: 100%;
  margin: 0;
  margin-bottom: .5rem;
}
h2 {
  color: #000000;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  line-height: 100%;
  margin: 0;
  margin-bottom: 1rem;
}
h3 {
  color: #000000;
  font-size: 1.4rem;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
  line-height: 100%;
  margin: 0;
  margin-botton: .5rem;
}
input {
  color: #000000;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
::-webkit-input-placeholder {
  color: #B3B3B3;
}
::-moz-input-placeholder {
  color: #B3B3B3;
}
.primary-button {
  font-size: 1.4rem;
  font-family: 'Kanit', sans-serif;
  font-weight: 900;
}

/*=============== MAIN CONTAINER ===============*/
.container {
  text-align: center;
}
/*=============== SPACING ===============*/


/*=============== FORMS ===============*/
form {
  margin: 1rem;
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 8px;
  margin: auto;
}
fieldset {
  border: none;
  margin-bottom: 2rem;
}
label {
  float: left;
  margin-bottom: .5rem;
}
input[type="text"] {
  height: 3rem;
  width: 100%;
  background-color: #EEE;
  border: none;
  border-radius: 8px;
  display: block;
  clear: both;
  padding: .5rem;
  margin-bottom: 1rem;
}
.primary-button {
  height: 3rem;
  width: 15rem;
  background-color: #FFE600;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 6px #979797;
  border: none;
  border-radius: 8px;
}
.primary-button:active {
  box-shadow: inset 1px 1px 6px #979797;

}
.user-button {
  height: 3rem;
  width: 10rem;
  background-color: #EEEEEE;
  text-align: center;
  padding-top: 12px;
  border-radius: 8px;
  margin: 0 auto;
}
.user-button:hover {
  cursor: pointer;
}

/*=============== Frames ===============*/
.top-frame {
  height: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
}
